body {
    background: #B3F2FF;
}

body {
    font-family: Arial, sans-serif;
}

.frontPageHeader {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



header {
    background-color: #a2cffe;
    color: #333333;
}

tbody {
    background-color: #ffffff;
    color: #333333;
}

.new_wish_list_text {
    margin-right: auto;
    margin-left: auto;
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mainTable {
    margin-top: 20px;
    width: 80%;
}
