<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishes</title>
    <link th:href="@{/wishList.css}" rel="stylesheet">
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="6">Wishes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${wishVariable}">
        <td class="table-header" th:text="${wish.wishName}">
        <td class="table-header" th:text="${wish.wishDescription}">
        <td class="table-header" th:text="${wish.wishPrice}">
        <td>
            <a th:href="@{'/wish_list_frontpage/' + ${wish.wishID} + '/edit_wish'}">
                <input type="button" value="Edit" class="button">
            </a>
        </td>
        <td>
            <a th:href="@{'/wish_list_frontpage/' + ${wish.wishID} + '/remove'}">
                <input type="button" value="delete" class="button">
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a class="new_wish" th:href="${'/wish_list_frontpage/' + wishlistId + '/wish_creation'}">
    <input type="button" value="New wish" class="button">
</a>
</body>
</html>