<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title class="frontPageHeader">Wish list</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Welcome to WishStorage</h1>
<p th:text="${welcome}"></p>
<table class="mainTable">
    <thead>
    <tr>
        <th colspan="6">Here are your wish lists</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Name</th>
        <th>Wishes</th>
        <th>Edit</th>
    </tr>
    <tr th:each="wish : ${wishlist}">

        <td class="table-header" th:text="${wish.wishlistName}">
        </td>

        <td class="table-header">
            <a th:href="@{'wish_list_frontpage/' + ${wish.wishlistName} + '/wishes'}">
                <input type="button" value="Wishes" class="button">
            </a>
        </td>

        <td>
            <a th:href="@{'wish_list_frontpage/' + ${wish.wishlistName} + '/edit'}">
            <input type="button" value="Edit" class="button">
            </a>
        </td>

    </tr>
    </tbody>
</table>
<p class="new_wish_list_text">Want a new wish list? Press the button below.</p>
<a class="new_wish_list_button">
    <input type="button" value="Press here" class="button">
</a>
</body>
</html>